@charset "UTF-8";
/*----- Стили обнуления -----*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body {
  line-height: 1;
  color: #000;
}
/*---------------*/

/*----- Общие стили -----*/
.page {
  font-family: Lato, sans-serif;
}

.conteiner {
  overflow: hidden;
  max-width: 1110px;
  margin: 0 auto;
}

.intro {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.intro span {
  display: inline-block;
  width: 73px;
  height: 2px;
  margin: 0 0 4px 15px;
}
/*---------------*/

/*----- header -----*/
.header__body {
  margin: 70px 0 56px 0;
}
.header__body div {
  display: inline-block;
}
.header__logo {
  margin: 0 184px 0 0;
}
.header__menu {
  margin: 0 40px 0 0;
}

.menu {
  font-size: 0;
}
.menu__list li {
  display: inline-block;
}
.menu__link {
  font-size: 16px;
  color: #222831;
  margin: 0 40px 0 0;
  text-transform: capitalize;
}

.login {
  font-size: 0;
}
.login__list li {
  display: inline-block;
}
.login__item {
  font-size: 16px;
  color: #FF5722;
  padding: 12px 24px;
  text-transform: capitalize;
}
/*---------------*/

/*----- main -----*/
.main__title {
  margin: 0 0 40px 0;
}
.main__space {
  margin: 0 0 40px 0;
}
.main__statistics {
  margin: 0 0 40px 0;
}

/*----- main title -----*/
.title {
  font-size: 0px;
}
.title__intro {
  color: #000;
}
.title__intro span {
  border: 1px solid #000;
}
.title__tagline {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 52px;
  display: inline-block;
  max-width: 60%;
  color: #10375C;
  line-height: 67px;
  margin: 0 6% 0 0;
}
.title__tagline span {
  color: #DD2C00;
}
.title__text {
  display: inline-block;
  font-size: 20px;
  max-width: 34%;
  color: #6A6A6A;
  line-height: 30px;
  vertical-align: top;
}

/*----- main space -----*/
.space__top {
  font-size: 0;
  margin: 0 0 30px 0;
}
.space__title {
  font-family: "Lora", serif;
  font-size: 40px;
  line-height: 51px;
  color: #10375C;
  font-weight: 700;
  display: inline-block;
  margin: 0 12% 0 0;
}
.space__subtitle {
  display: inline-block;
  max-width: 450px;
  font-size: 18px;
  line-height: 24px;
  color: #9A9A9A;
}
.space__content {
  font-size: 0;
}
.space__block-img {
  display: inline-block;
  max-width: 350px;
  height: 468px;
  font-size: 18px;
  text-align: center;
  margin: 0px 10px 10px;
}
.space__block-img p {
  display: inline-block;
  margin-top: 15px;
}
.space__block-text {
  display: inline-block;
  max-width: 350px;
  height: 468px;
  background-color: #10375C;
  text-align: center;
  margin: 0px 10px 10px;
  padding: 10px;
  vertical-align: top;
}

.block-text__title {
  font-family: "Lora", serif;
  font-size: 32px;
  color: #fff;
  margin: 12% 0;
}
.block-text__text {
  padding: 0 12%;
  margin: 15% 0;
  font-size: 18px;
  color: #fff;
  line-height: 28px;
}
.block-text__link {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  padding: 10px 30px;
  color: #fff;
  background-color: #FF5722;
  margin: 12% 0;
}

/*----- main statistics -----*/
.statistics {
  font-size: 0;
}
.statistics__left-b {
  vertical-align: top;
  display: inline-block;
  max-width: 555px;
  width: 50%;
  padding: 10px;
}
.statistics__left-p {
  display: inline-block;
  margin-right: 24.8%;
  margin-bottom: -64px;
}
.statistics__right-p {
  display: inline-block;
  margin-bottom: -64px;
}
.statistics__item {
  margin-bottom: 64px;
}
.statistics__item img {
  margin-right: 24px;
}
.statistics__numb {
  display: inline-block;
  font-family: "Lora", serif;
  font-size: 32px;
  color: #10375C;
  line-height: 41px;
}
.statistics__text {
  font-size: 16px;
  color: #9A9A9A;
  line-height: 26px;
  text-align: center;
}
.statistics__right-b {
  vertical-align: top;
  display: inline-block;
  background-color: #10375C;
  max-width: 555px;
  width: 50%;
  padding: 44px;
  color: #fff;
}
.statistics__intro {
  color: #fff;
}
.statistics__intro span {
  border: 1px solid #fff;
}
.statistics__title {
  font-family: "Lora", serif;
  font-size: 40px;
  line-height: 51px;
  font-weight: 700;
  margin-bottom: 24px;
}
.statistics__message {
  font-size: 20px;
  line-height: 30px;
}
/*---------------*/

/*----- footer -----*/
.footer .conteiner > div {
  display: inline-block;
  max-width: 250px;
  vertical-align: top;
  margin: 0 2.67%;
}

.footer {
  font-size: 0;
  background-color: #0D2C4A;
  padding: 56px 0 105px 0;
}
.footer__title {
  font-family: "Lora", serif;
  font-size: 52px;
  color: #fff;
  line-height: 66px;
  margin-bottom: 16px;
}
.footer__text {
  color: #9A9A9A;
  font-size: 16px;
  line-height: 26px;
}
.footer__name-menu {
  color: #9A9A9A;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0;
}
.footer__menu li {
  margin-bottom: 9px;
}
.footer__link {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
}
/*---------------*/
